apiVersion: 1

providers:
  - name: CTF Operations
    orgId: 1
    folder: CTF
    type: file
    disableDeletion: true
    updateIntervalSeconds: 60
    options:
      path: /var/lib/grafana/dashboards
