ORCHESTRATOR_API_TOKEN={{ orchestrator_api_token_effective }}
ORCHESTRATOR_RATE_LIMIT_PER_MIN={{ orchestrator_rate_limit_per_min }}
ORCHESTRATOR_API_BIND={{ orchestrator_api_bind }}
ORCHESTRATOR_API_PORT={{ orchestrator_api_port }}
ORCHESTRATOR_SIGNING_SECRET={{ orchestrator_signing_secret_effective }}
ORCHESTRATOR_TEAM_RATE_LIMIT_PER_MIN={{ orchestrator_team_rate_limit_per_min }}
ORCHESTRATOR_TEAM_MAX_ACTIVE={{ orchestrator_team_max_active }}
ORCHESTRATOR_AUDIT_LOG={{ orchestrator_audit_log }}
ORCHESTRATOR_CTFD_WEBHOOK_TOKEN={{ orchestrator_ctfd_webhook_token_effective }}
ORCHESTRATOR_SIGNATURE_TTL_SEC={{ orchestrator_signature_ttl_sec }}
